<!-- <div>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Inherited calendar color</mat-label>
    <input matInput [matDatepicker]="picker1">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</div>


<div>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Inherited calendar color</mat-label>
    <input matInput [matDatepicker]="picker2" [min]="minDate" [max]="maxDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div> -->

<!-- validation: user should not be able to select Sat and Sun -->

<div>
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Inherited calendar color</mat-label>
    <input matInput [matDatepicker]="picker3" [matDatepickerFilter]="myFilter">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
</div>
