

<mat-accordion [multi]="true" [hideToggle]="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular Fundamental</mat-panel-title>
      <mat-panel-title>Total duration 3 Hours</mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the panel content</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Angular Material</mat-panel-title>
      <mat-panel-title>Total duration 2 Hours</mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the panel content</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
