<div>
  <mat-form-field floatLabel="auto">
    <mat-label>floatLabel is auto</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div>
  <mat-form-field floatLabel="never">
    <mat-label>floatLabel is never</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div>
  <mat-form-field floatLabel="always">
    <mat-label>floatLabel is never</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div>
  <mat-form-field floatLabel="auto">
    <mat-label>floatLabel is auto</mat-label>
    <input matInput required>
  </mat-form-field>
</div>

<div>
  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="legacy">
    <mat-label>appearance is legacy</mat-label>
    <input matInput required>
    <mat-hint>Please enter at least 5 characters</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="standard">
    <mat-label>appearance is standard</mat-label>
    <input matInput required>
    <mat-hint>Please enter at least 5 characters</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
    <mat-label>appearance is fill</mat-label>
    <input matInput required>
    <mat-hint>Please enter at least 5 characters</mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
    <mat-label>appearance is outline</mat-label>
    <input matInput required>
    <mat-hint>Please enter at least 5 characters</mat-hint>
  </mat-form-field>
</div>
